

<form action="" method="Create">
    <div style="margin-bottom: 30px">
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Cake Name</span>
            </div>
            <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
        </div>
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Eaten Year 2019</span>
            </div>
            <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
        </div>
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Eaten Year 2015</span>
            </div>
            <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
        </div>
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Eaten Year 2010</span>
            </div>
            <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
        </div>
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Eaten Year 2005</span>
            </div>
            <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
        </div>

        @* <button type="button" class="btn btn-primary" onclick="showAlert()">Input</button> *@
        <input type="submit" value="Create">
    </div>
</form>

@* @{
    ViewBag.Title = "Create";
} *@


@* @using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })    

    @Html.TextBoxFor(model => model.CakeName)
    @Html.TextBoxFor(model => model.EatenYear2019)
    @Html.TextBoxFor(model => model.EatenYear2015)
    @Html.TextBoxFor(model => model.EatenYear2010)
    @Html.TextBoxFor(model => model.EatenYear2005) *@
@* }     *@
   

